antlr4-python3-runtime==4.8
apex==0.1
astor==0.8.1
astunparse==1.6.3
backcall==0.1.0
bleach==1.5.0
chardet==3.0.4
cloudpickle==1.4.1
cupy==6.4.0
cython==0.29.17
decorator==4.4.0
fastrlock==0.4
flatbuffers==1.12
future==0.17.1
fvcore==0.1.dev200424
gast==0.3.3
google-pasta==0.2.0
gputil==1.4.0
h5py==2.10.0
html5lib==0.9999999
hydra-core==1.0.5
importlib-resources==5.1.0
ipdb==0.12.2
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
joblib==0.13.2
jsonpatch==1.24
jsonpointer==2.0
keras==2.3.1
keras-applications==1.0.8
keras-preprocessing==1.1.2
lmdb==0.98
mock==4.0.2
msgpack==0.6.2
msgpack-numpy==0.4.4.3
nvidia-dali==0.15.0
omegaconf==2.0.6
opt-einsum==3.3.0
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
portalocker==1.7.0
progressbar2==3.53.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycocotools==2.0
pydload==1.0.9
pydot==1.4.1
pyee==8.1.0
pygments==2.4.2
python-utils==2.5.6
pyzmq==18.1.0
regex==2020.11.13
scikit-learn==0.21.3
seqeval==0.0.3
seqtag-keras==1.0.6
sklearn==0.0
snakeviz==2.0.1
tabulate==0.8.7
tensorboardx==1.8
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
torchfile==0.1.0
traitlets==4.3.2
visdom==0.1.8.9
wcwidth==0.1.7
websocket-client==0.56.0
wrapt==1.12.1
yacs==0.1.7
youtube-dl==2021.4.26
zipp==3.4.0
